{% set title = "Aprenda - Passar Perfume" %}

<h1>Bora aprender a passar perfume?</h1>

<p>Quando você vai sair para algum lugar e começa a passar perfume você provavelmente já fez algumas merdas</p>

<h3>Exemplos:</h3>

<div>
    <ul>
        <li>Aplicar muito perto da pele</li>
        <li>Aplicar no pulso e <strong>esfregar os mesmos</strong></li>
        <li>Aplicar na <strong>roupa</strong></li>
    </ul>
</div>

<div>
    <img src="C:\Users\lucas\Downloads\Fotos .png .jpeg etc\.png" alt="Melhores pontos para aplicar o perfume">
</div>

<p>Para usar o perfume do jeito certo você deve parar de esfregar a região borrifada. O atrito aumenta a 
    interação entre os óleos do perfume e da sua pele, podendo alterar drasticamente o aroma do produto. 
    Portanto, borrife a fragrância sobre o corpo e deixe secar naturalmente.
</p>

<div>
    <button type="button">Update</button>
    <button type="button">Delete</button>
</div>